.text{
    width: 200px;
    height: 50px;
}

.anime1{
    animation: bounce 1s linear 0s 2 alternate ;
}

@keyframes bounce{
    from{
        font-size: 1em;
    }
    to{
        font-size: 3em;
    }
}
